/* latin-ext */
@font-face {
  font-family: 'Raleway Dots';
  font-style: normal;
  font-weight: 400;
  src: url('RalewayDots.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Raleway Dots';
  font-style: normal;
  font-weight: 400;
  src: url('RalewayDots2.woff2') format('woff2');
}
