/*@font-face {
    src: url("../CSS/RalewayDots.ttf");
}



.root{
  -fx-font-family:'Raleway Dots', cursive;
    -fx-font-size: 40;
}

.label{
    -fx-font-family:'Raleway Dots', cursive;
    -fx-font-size: 40;
}

label{
    -fx-font-family:'Raleway Dots', cursive;
    -fx-font-size: 40;
}


root{
    -fx-font-family:'Raleway Dots', cursive;
    -fx-font-size: 40;
}*/